Scripts/ytdownloads/*

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.fmt
*.fot
*.toc
*.cb
*.cb2
.*.lb
*.synctex.gz

Resume - workforce/resume - references(non-redacted).pdf
