/*
*============================================================================
* Name       : styles.cpp
* Author     : Antonius Torode
* Date       : 2018
* Copyright  : This file can be used under the conditions of Antonius' 
*				 General Purpose License (AGPL).
* Description: Main css fyle for Antonius' Homepage.
*============================================================================
*/

/* Text formatting */
h2 {
	font-size: 180%;
	color: #c4ae78;
	text-shadow: 0px 0px 6px #000000;
	text-transform: uppercase;
}
@media (max-width: 480px) {
	h2 {
		font-size: 190%;
	}
}
h3 {
	font-size: 150%;
	font-weight: 500;
	color: #c4ae78;
	text-shadow: 0px 0px 4px #000000; 
	text-decoration: underline;
}
.h2-projects {
	color: #388fd6;
}
.h3-projects {
	color: #388fd6;
}
.small-h3 {
	font-size: 130%;
}
@media (max-width: 768px) {
	.text-align-justify{
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* some button editions */
.button-pad {
	padding-top: 5px;
}
.home-button {
	color: #303030;
	background-color: #c4ae78;
	border-color: #000;
}
.home-button:hover {
	color: #565656;
	background-color: #f2cd71;
	border-color: #ffc230;
}
.project-button {
	color: #303030;
	background-color: #9fb1b5;
	border-color: #000;
}
.project-button:hover {
	color: #000;
	background-color: #388fd6;
	border-color: #303030;
}

/* Some various style features */
.squished {
	padding-left: 25px;
	padding-right: 25px;
}
.hidden {
	display: none;
}
.text-align-center {
	text-align: center !important;
}
.text-align-left {
	text-align: left;
}
.text-align-right {
	text-align: right;
}
.text-align-justify {
	text-align: justify;
}
.text-noticeable {
	text-decoration: bold;
	color: #e5ca89 !important;
}

html, body {
	color: #ede0c2;
	font-size: 15px;
	font-family: "Cinzel Decorative", "Palatino Light", Times, Times New Roman, Georgia, serif;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}
@media (min-width: 768px) {
	html, body {
		font-size: 16px !important;
		padding-right: 0px !important;
	}
}
section {
	padding: 3% 1%;
}

.pattern {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.55)), url(../img/dark_wall.png);
}

.pattern-dark {
	background-image: url(../img/dark_leather.png);
}

/* BG color of the navbar */
.navbar-custom {
	background: linear-gradient(rgba(34, 34, 34, 0.95), rgba(34, 34, 34, 0.75));
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
	z-index: 3; 
}

/* Font properties of the navbar */
.navbar .container {
	font-size: 14px !important; 
}

/* navbar logo properties */
a.navbar-logo {
	background-image: url(../img/logo-compact.png);
	width: 50px;
	height: 40px;
	background-size: 50px auto;
	padding: 0;
	margin-top: 2px; 
}
a.navbar-logo-blue {
	background-image: url(../img/logo-compact-blue.png);
	width: 50px;
	height: 40px;
	background-size: 50px auto;
	padding: 0;
	margin-top: 2px; 
}

/* Changes navbar logo upon hover */
a.navbar-logo:hover {
	background-position: 0px -50px; 
}
a.navbar-logo-blue:hover {
	background-position: 0px -50px; 
}

.custom-toggle-btn {
	background-color: rgba(255, 255, 255, 0) !important;
	border: none;
	right: 5px;
	top: -1px;
	position: absolute; 
}
.custom-toggle-btn .icon-bar {
	margin: -5px -11px 6px 0px;
	height: 3px;
	width: 30px;
	background-color: #ecd19a !important; 
}

.text-link {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	margin: 0 auto;
	color: #f2cd71;
}
.text-link:hover {
	text-shadow: 0 0 15px #99774c, 0px -5px 20px #a17e51, 0 5px 20px #96744a;
	color: #fff;
}
.text-link:hover a {
	color: #ffffff !important;
}
.plain-link {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	margin: 0 auto;
	padding: 5px 10px 5px 10px;
}
@media (min-width: 768px) {
	.plain-link {
		padding: 0px 10px 0px 10px;
	}
}
@media (max-width: 768px) {
	.plain-link {
		border-bottom: 1px solid #383838;
	}
}
.plain-link a {
	color: #c4ae78 !important;
	font-size: 120%;
	transition: all 0.33s;
}
@media (min-width: 768px) {
	.plain-link a {
		font-size: 100%;
	}
}
@media (min-width: 992px) {
	.plain-link a {
		font-size: 100%;
	}
}
.plain-link:hover {
	text-shadow: 0 0 15px #99774c, 0px -5px 20px #a17e51, 0 5px 20px #96744a;
}
.plain-link:hover a {
	color: #ffffff !important;
}
.plain-link.active {
	text-shadow: 0 0 15px #99774c, 0px -5px 20px #a17e51, 0 5px 20px #96744a;
}
.plain-link.active a {
	background-color: transparent !important;
	color: #ffffff !important;
}
.collapsing .plain-link a, .in .plain-link a {
	text-align: center;
}
.plain-link-blue {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	margin: 0 auto;
	padding: 5px 10px 5px 10px;
}
@media (min-width: 768px) {
	.plain-link-blue {
		padding: 0px 10px 0px 10px;
	}
}
@media (max-width: 768px) {
	.plain-link-blue {
		border-bottom: 1px solid #383838;
	}
}
.plain-link-blue a {
	color: #9fb1b5; !important;
	font-size: 120%;
	transition: all 0.33s;
}
@media (min-width: 768px) {
	.plain-link-blue a {
		font-size: 100%;
	}
}
@media (min-width: 992px) {
	.plain-link-blue a {
		font-size: 100%;
	}
}
.plain-link-blue:hover {
	text-shadow: 0 0 15px #99774c, 0px -5px 20px #a17e51, 0 5px 20px #96744a;
}
.plain-link-blue:hover a {
	color: #ffffff !important;
}
.plain-link-blue.active {
	text-shadow: 0 0 15px #99774c, 0px -5px 20px #a17e51, 0 5px 20px #96744a;
}
.plain-link-blue.active a {
	background-color: transparent !important;
	color: #ffffff !important;
}
.collapsing .plain-link-blue a, .in .plain-link-blue a {
	text-align: center;
}

/* Dropdown menu settings */
.dropdown {
	font-family: Helvetica, Arial, sans-serif;
	position: relative;
	display: inline-block;
	padding: 15px 10px 15px 10px;
}
@media (max-width: 480px){
	.dropdown {
		text-align: center;		
	}
}
.dropdown-content {
	display: none;
	position: absolute;
	top: 48px;
	background-color: rgba(38, 37, 37,.85);
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 5px 5px;
	z-index: 1;
}
@media (max-width: 480px){
	.dropdown-content {
		text-align: center;
		padding: none;
		border: 1px solid #9d9280;
		left: 25%;
	}
}
.dropdown:hover .dropdown-content {
	display: block;
}

/* Code for formatting the headers */
.header-home {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.05)), url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow: inset 0 -10px 70px rgba(0, 0, 0, 0.75);
	height: 75vh;
	background-position: 75%;
}
@media (min-width: 1200px) {
	.header-home {
		background-attachment: fixed;
	}
}
@media (max-width: 768px) {
	.header-home {
		background-position: 25%;
	}
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
	.header-home {
		background-position: 25%;
	}
}
.header-projects {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.05)), url(../img/header-bg-pro.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow: inset 0 -10px 70px rgba(0, 0, 0, 0.75);
	height: 75vh;
	background-position: 75%;
}
@media (min-width: 1200px) {
	.header-projects {
		background-attachment: fixed;
	}
}
@media (max-width: 768px) {
	.header-projects {
		background-position: 25%;
	}
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
	.header-projects {
		background-position: 25%;
	}
}
.header-blog {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.05)), url(../img/blog-BG.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow: inset 0 -10px 70px rgba(0, 0, 0, 0.75);
	height: 75vh;
	background-position: 75%;
}
@media (min-width: 1200px) {
	.header-blog {
		background-attachment: fixed;
	}
}
@media (max-width: 768px) {
	.header-blog {
		background-position: 25%;
	}
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
	.header-blog {
		background-position: 25%;
	}
}

.black-texture {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.05)), url(../img/black-wallpaper-hd-1.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.black-texture-short {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.05)), url(../img/black-wallpaper-hd-1-short.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.projects-text-color {
	color: #9fb1b5 !important;
}

.section-description-projects {
	margin: 1rem auto 0 auto;
	width: 69%;
	font-family: Helvetica, Arial, sans-serif;
	color: #9fb1b5;
	font-size: 1em;
	font-weight: 400;
	text-align: justify;
	line-height: 1.6rem; 
}
@media (max-width: 768px) {
	.section-description-projects {
		width: 85%; 
	} 
}
.section-description {
	margin: 1rem auto 0 auto;
	width: 69%;
	font-family: Helvetica, Arial, sans-serif;
	color: #b29c82;
	font-size: 1em;
	font-weight: 400;
	text-align: justify;
	line-height: 1.6rem; 
}
@media (max-width: 768px) {
	.section-description {
		width: 85%; 
	} 
}
.resumeCV-section {
	margin: 1rem 0 0 auto;
	width: 80%;
}
@media (max-width: 960px) {
	.resumeCV-section {
		margin: 1rem auto 0 auto;
	}
}
.resumeCV-image {
	margin: 1rem auto 0 0;
}
@media (max-width: 960px) {
	.resumeCV-image {
		margin: 1rem auto 0 auto;
	}
}

/* Code for fomatting the big logo */
.big-logo {
	height: auto;
	position: absolute;
	left: 50%;
	top: 55%;
	opacity: 0;
	-moz-transition: opacity 2s;
	-webkit-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
	-webkit-transform: translate(-50%, -90%);
	-moz-transform: translate(-50%, -90%);
	-ms-transform: translate(-50%, -90%);
	-o-transform: translate(-50%, -90%);
	transform: translate(-50%, -90%);
	width: 50%;
	z-index: 0;
}
@media (max-width: 768px) {
	.big-logo {
		width: 80%;
		top: 45%;
		-webkit-transform: translate(-50%, -65%);
		-moz-transform: translate(-50%, -65%);
		-ms-transform: translate(-50%, -65%);
		-o-transform: translate(-50%, -65%);
		transform: translate(-50%, -65%);
	}
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
	.big-logo {
		width: 75%;
		top: 48%;
	}
}
@media (max-width: 480px) {
	.big-logo {
		width: 100%;
	}
}
.big-logo-text {
	height: auto;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	left: 50%;
	top: 35%;
	-moz-transition: opacity 2s;
	-webkit-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
	-webkit-transform: translate(-50%, -90%);
	-moz-transform: translate(-50%, -90%);
	-ms-transform: translate(-50%, -90%);
	-o-transform: translate(-50%, -90%);
	transform: translate(-50%, -90%);
	width: 50%;
	z-index: 0;
}

/* Code to define the divider */
.Divider {
	height: 55px;
	margin: -18px -15px;
	position: relative;
	z-index: 1;
}
.Divider:before {
	left: 0;
	margin-right: 82px;
	right: 50%;
	background: url(../img/divider-sprite-duel.png) repeat-x 50% 0;
	content: "";
	height: 55px;
	position: absolute;
	top: 0;
}
.Divider:after {
	left: 50%;
	margin-left: 82px;
	right: 0;
	background: url(../img/divider-sprite-duel.png) repeat-x 50% 0;
	content: "";
	height: 55px;
	position: absolute;
	top: 0;
}
.Divider-rule {
	background: url(../img/divider-sprite-duel.png) repeat-x 50% 100%;
	border: 0;
	height: 55px;
	left: 50%;
	margin: 0 0 0 -82px;
	position: absolute;
	top: 5px;
	width: 164px;
}
.Divider-blue {
	height: 55px;
	margin: -18px -15px;
	position: relative;
	z-index: 1;
}
.Divider-blue:before {
	left: 0;
	margin-right: 82px;
	right: 50%;
	background: url(../img/divider-sprite-dark-blue.png) repeat-x 50% 0;
	content: "";
	height: 55px;
	position: absolute;
	top: 0;
}
.Divider-blue:after {
	left: 50%;
	margin-left: 82px;
	right: 0;
	background: url(../img/divider-sprite-dark-blue.png) repeat-x 50% 0;
	content: "";
	height: 55px;
	position: absolute;
	top: 0;
}
.Divider-rule-blue {
	background: url(../img/divider-sprite-dark-blue.png) repeat-x 50% 100%;
	border: 0;
	height: 55px;
	left: 50%;
	margin: 0 0 0 -82px;
	position: absolute;
	top: 5px;
	width: 164px;
}

.footer {
	font-family: Helvetica, Arial, sans-serif;
	color: #c4ae78 !important;
	padding-top: 4rem;
	padding-bottom: 2rem;
}
.footer a {
	transition: all 0.33s;
	color: #c4ae78 !important;
	text-decoration: none;
}
@media (min-width: 768px) {
	.footer a {
		font-size: 100%;
	}
}
@media (min-width: 992px) {
	.footer a {
		font-size: 100%;
	}
}
.footer a:hover,
.footer a:active {
	text-shadow: 0 0 15px #99774c, 0px -5px 20px #a17e51, 0 5px 20px #96744a;
	color: #ffffff !important;
}
.footer .footer-nav {
	text-align: center;
	font-size: 80%;
}
@media (min-width: 768px) {
	.footer .footer-nav {
		text-align: left;
	}
}
.footer .footer-nav ul {
	list-style: none;
	padding: 0;
}
.footer .footer-nav ul li {
	display: inline-block;
	padding-right: 1rem;
}
.footer .social-nav,
.footer .social-nav-header {
	font-size: 120%;
	text-align: center;
	margin-top: 0.5rem;
}
@media (min-width: 768px) {
	.footer .social-nav,
	.footer .social-nav-header {
		text-align: right;
		margin-top: 0;
	}
}
.footer .social-nav a,
.footer .social-nav-header a {
	padding: 0.5rem;
	border: none !important;
}
.footer .copyright {
	font-family: "Cinzel Decorative", "Palatino Light", Times, Times New Roman, Georgia, serif;
	text-rendering: optimizeLegibility;
	letter-spacing: 0.2rem;
	text-align: center;
	margin-top: 1.75rem;
	color: #734a32;
	font-size: 140%;
}
.footer-blue {
	font-family: Helvetica, Arial, sans-serif;
	color: #9fb1b5; !important;
	padding-top: 4rem;
	padding-bottom: 2rem;
}
.footer-blue a {
	transition: all 0.33s;
	color: #9fb1b5; !important;
	text-decoration: none;
}
@media (min-width: 768px) {
	.footer-blue a {
		font-size: 100%;
	}
}
@media (min-width: 992px) {
	.footer-blue a {
		font-size: 100%;
	}
}
.footer-blue a:hover,
.footer-blue a:active {
	text-shadow: 0 0 15px #99774c, 0px -5px 20px #a17e51, 0 5px 20px #96744a;
	color: #ffffff !important;
}
.footer-blue .footer-nav {
	text-align: center;
	font-size: 80%;
}
@media (min-width: 768px) {
	.footer-blue .footer-nav {
		text-align: left;
	}
}
.footer-blue .footer-nav ul {
	list-style: none;
	padding: 0;
}
.footer-blue .footer-nav ul li {
	display: inline-block;
	padding-right: 1rem;
}
.footer-blue .social-nav,
.footer-blue .social-nav-header {
	font-size: 120%;
	text-align: center;
	margin-top: 0.5rem;
}
@media (min-width: 768px) {
	.footer-blue .social-nav,
	.footer-blue .social-nav-header {
		text-align: right;
		margin-top: 0;
	}
}
.footer-blue .social-nav a,
.footer-blue .social-nav-header a {
	padding: 0.5rem;
	border: none !important;
}
.footer-blue .copyright {
	font-family: "Cinzel Decorative", "Palatino Light", Times, Times New Roman, Georgia, serif;
	text-rendering: optimizeLegibility;
	letter-spacing: 0.2rem;
	text-align: center;
	margin-top: 1.75rem;
	color: #293787;
	font-size: 140%;
}

/* Styles for social media icons */
.fa-facebook {
  color: #c4ae78;
}
.fa-twitter {
  color: #c4ae78;
}
.fa-google {
  color: #c4ae78;
}
.fa-linkedin {
  color: #c4ae78;
}
.fa-youtube {
  color: #c4ae78;
}
.fa-instagram {
  color: #c4ae78;
}

/* Resume section */
.resumeCV {
	background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.25)), url(../img/backgrounds-hd-desktop-1302t5bxw-1s-1920x1080.jpg);
	background-size: cover;
	background-position: center center;
	box-shadow: inset 0 -10px 50px #000000;
	color: #ffffff;
}
@media (max-width: 768px) {
	.resumeCV section {
		text-align: center;
	}
}
@media (min-width: 1200px) {
	.resumeCV {
		background-attachment: fixed;
	}
}
.resumeCV cite {
	display: block;
	margin-top: 10px;
	text-align: center;
}
.resumeCV cite img {
	margin: 15px 15px 0 0;
	border: 1px solid #752b1a;
	height: auto;
	width: 50%;
	display: inline-block;
	box-shadow: 0 0 10px #000000;
}

/* ACPreview section */
.acpreview {
	background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.25)), url(../img/ACpreview2.png);
	background-size: cover;
	background-position: center center;
	box-shadow: inset 0 -10px 50px #000000;
	color: #ffffff;
}
@media (min-width: 1200px) {
	.acpreview {
		background-attachment: fixed;
	}
}
.acpreview cite {
	display: block;
	margin-top: 10px;
	text-align: center;
}
.acpreviewcite img {
	margin: 15px 15px 0 0;
	border: 1px solid #752b1a;
	height: auto;
	width: 50%;
	display: inline-block;
	box-shadow: 0 0 10px #000000;
}
/* AHPreview section */
.ahpreview {
	background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.25)), url(../img/AHpreview2.png);
	background-size: cover;
	background-position: center center;
	box-shadow: inset 0 -10px 50px #000000;
	color: #ffffff;
}
@media (min-width: 1200px) {
	.ahpreview {
		background-attachment: fixed;
	}
}
.ahpreview cite {
	display: block;
	margin-top: 10px;
	text-align: center;
}
.ahpreview cite img {
	margin: 15px 15px 0 0;
	border: 1px solid #752b1a;
	height: auto;
	width: 50%;
	display: inline-block;
	box-shadow: 0 0 10px #000000;
}
/* MIA features section */
.mia-features {
	background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.25)), url(../img/BG-00.jpg);
	background-size: cover;
	background-position: center center;
	box-shadow: inset 0 -10px 50px #000000;
	color: #ffffff;
}
@media (min-width: 1200px) {
	.mia-features {
		background-attachment: fixed;
	}
}
.mia-features cite {
	display: block;
	margin-top: 10px;
	text-align: center;
}
.mia-features cite img {
	margin: 15px 15px 0 0;
	border: 1px solid #752b1a;
	height: auto;
	width: 50%;
	display: inline-block;
	box-shadow: 0 0 10px #000000;
}

/* DEFINES THE SMALL DIVIDERS */
.separator {
	background: url(../img/blog-separator.png) 50% 100% no-repeat;
	position: relative; 
}
.separator-blue {
	background: url(../img/blog-separator-blue.png) 50% 100% no-repeat;
	position: relative; 
}

/* General information formatting */
.information {
	 padding-top: 20px;
}
.information-img {
	width: 100%;
	border: 1px solid;
	opacity: 0.5;
	transition: all 0.5s;
	box-shadow: 0px 0px 25px 0px #000000;
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
	.information-img {
		opacity: 1;
	}
}
@media (max-width: 768px) {
	.information-img {
		opacity: 1;
	}
}
.information-item .item-name-caption {
	background-color: #000000;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	top: 0;
	border-radius: 0px;
	left: 0;
	display: none;
}
.information-item:hover .information-img {
	opacity: 1;
	border: 1px solid #9d9280;
	box-shadow: 0px 0px 25px 0px #37271b;
}
.information-item:hover h3 {
	text-shadow: 0px 0px 4px #383838;
}
.information-item:hover .information-p {
	color: #9d9280;
}
.information-item-hierarchy .item-name-caption {
	background-color: #000000;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	top: 0;
	border-radius: 0px;
	left: 0;
	display: none;
}
.information-item-hierarchy:hover .information-img {
	opacity: 1;
	border: 1px solid #9d9280;
	box-shadow: 0px 0px 25px 0px #37271b;
}
.information-item-hierarchy:hover h3 {
	text-shadow: 0px 0px 4px #383838;
}
.information-item-hierarchy:hover .information-p {
	color: #9d9280;
}
.information-item-perks .item-name-caption {
	background-color: #000000;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	top: 0;
	border-radius: 0px;
	left: 0;
	display: none;
}
.information-item-perks:hover .information-img {
	opacity: 1;
	border: 1px solid #9d9280;
	box-shadow: 0px 0px 25px 0px #37271b;
}
.information-item-perks:hover h3 {
	text-shadow: 0px 0px 4px #383838;
}
.information-item-perks:hover .information-p {
	color: #9d9280;
}
.information-p {
	font-family: Helvetica, Arial, sans-serif;
	color: #71675b;
	font-size: 0.85em;
	text-align: left;
	transition: all 0.5s;
	font-weight: 400;
	line-height: 1.4rem;
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
	.information-p {
		font-size: 0.8em;
	}
}
@media (max-width: 320px) {
	.information-p {
		font-size: 0.9rem;
	}
}

/* Experience section */
.experience {
	background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.25)), url(../img/BG-00.jpg);
	background-repeat: repeat-y;
	background-size: 100%;
	background-position: center center;
	box-shadow: inset 0 -10px 50px #000000;
	color: #ffffff;
}
@media (max-width: 768px) {
	.experience section {
		text-align: center;
	}
}
@media (min-width: 1200px) {
	.experience {
		background-attachment: fixed;
	}
}
.experience cite {
	display: block;
	margin-top: 10px;
	text-align: center;
}
.experience cite img {
	margin: 15px 15px 0 0;
	border: 1px solid #752b1a;
	height: auto;
	width: 50%;
	display: inline-block;
	box-shadow: 0 0 10px #000000;
}
.experience-section-left {
	margin: 1rem 0 0 auto;
	width: 80%;
}
@media (max-width: 960px) {
	.experience-section-left {
		margin: 1rem auto 0 auto;
	}
}
.experience-image-left {
	margin: 1rem 0 0 auto;
}
@media (max-width: 960px) {
	.experience-image-left {
		margin: 1rem auto 0 auto;
	}
}
.experience-section-right {
	margin: 1rem auto 0 0;
	width: 80%;
}
@media (max-width: 960px) {
	.experience-section-right {
		margin: 1rem auto 0 auto;
	}
}
.experience-image-right {
	margin: 1rem auto 0 0;
}
@media (max-width: 960px) {
	.experience-image-right {
		margin: 1rem auto 0 auto;
	}
}
.experience-img {
	width: 100%;
	opacity: 0.5;
	transition: all 0.5s;
}
.experience-img:hover{
	opacity: 1;
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
	.experience-img {
		opacity: 1; 
	}
}
@media (max-width: 768px) {
	.experience-img {
		opacity: 1; 
	} 
}
.experience-header {
	font-size: 140%;
	margin-bottom: 0px;
	font-weight: 500;
	color: #c4ae78;
	text-shadow: 0px 0px 4px #000000; 
}
.experience-header-sub {
	font-size: 115%;
	margin-top: 2px;
	font-weight: 450;
	color: #c4ae78;
	text-shadow: 0px 0px 4px #000000; 
	text-decoration: none;
	font-style: italic;
}

/* programming section */
.programming {
	background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.25)), url(../img/HD-3D-Abstract-Wallpapers-633.jpg);
	background-repeat: repeat-y;
	background-size: 100%;
	background-position: center center;
	box-shadow: inset 0 -10px 50px #000000;
	color: #ffffff;
}
@media (max-width: 768px) {
	.programming section {
		text-align: center;
	}
}
@media (min-width: 1200px) {
	.programming {
		background-attachment: fixed;
	}
}
.programming cite {
	display: block;
	margin-top: 10px;
	text-align: center;
}
.programming cite img {
	margin: 15px 15px 0 0;
	border: 1px solid #752b1a;
	height: auto;
	width: 50%;
	display: inline-block;
	box-shadow: 0 0 10px #000000;
}
.programming-section-left {
	margin: 1rem 0 0 auto;
	width: 80%;
}
@media (max-width: 960px) {
	.programming-section-left {
		margin: 1rem auto 0 auto;
	}
}
.programming-image-left {
	margin: 1rem 0 0 auto;
}
@media (max-width: 960px) {
	.programming-image-left {
		margin: 1rem auto 0 auto;
	}
}
.programming-section-right {
	margin: 1rem auto 0 0;
	width: 80%;
}
@media (max-width: 960px) {
	.programming-section-right {
		margin: 1rem auto 0 auto;
	}
}
.programming-image-right {
	margin: 1rem auto 0 0;
}
@media (max-width: 960px) {
	.programming-image-right {
		margin: 1rem auto 0 auto;
	}
}
.programming-img {
	width: 100%;
	opacity: 0.5;
	transition: all 0.5s;
}
.programming-img:hover{
	opacity: 1;
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
	.programming-img {
		opacity: 1; 
	}
}
@media (max-width: 768px) {
	.programming-img {
		opacity: 1; 
	} 
}
.programming-header {
	font-size: 140%;
	margin-bottom: 0px;
	font-weight: 500;
	color: #c4ae78;
	text-shadow: 0px 0px 4px #000000; 
}
.programming-header-sub {
	font-size: 115%;
	margin-top: 2px;
	font-weight: 450;
	color: #c4ae78;
	text-shadow: 0px 0px 4px #000000; 
	text-decoration: none;
	font-style: italic;
}

/* Graphic Deisng section */
.graphicdesign {
	background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.25)), url(../img/graphic-BG.jpg);
	background-repeat: repeat-y;
	background-size: 100%;
	background-position: center center;
	box-shadow: inset 0 -10px 50px #000000;
	color: #ffffff;
}
@media (max-width: 768px) {
	.graphicdesign section {
		text-align: center;
	}
}
@media (min-width: 1200px) {
	.graphicdesign {
		background-attachment: fixed;
	}
}
.graphicdesign cite {
	display: block;
	margin-top: 10px;
	text-align: center;
}
.graphicdesign cite img {
	margin: 15px 15px 0 0;
	border: 1px solid #752b1a;
	height: auto;
	width: 50%;
	display: inline-block;
	box-shadow: 0 0 10px #000000;
}
.graphicdesign-section-left {
	margin: 1rem 0 0 auto;
	width: 80%;
}
@media (max-width: 960px) {
	.graphicdesign-section-left {
		margin: 1rem auto 0 auto;
	}
}
.graphicdesign-image-left {
	margin: 1rem 0 0 auto;
}
@media (max-width: 960px) {
	.graphicdesign-image-left {
		margin: 1rem auto 0 auto;
	}
}
.graphicdesign-section-right {
	margin: 1rem auto 0 0;
	width: 80%;
}
@media (max-width: 960px) {
	.graphicdesign-section-right {
		margin: 1rem auto 0 auto;
	}
}
.graphicdesign-image-right {
	margin: 1rem auto 0 0;
}
@media (max-width: 960px) {
	.graphicdesign-image-right {
		margin: 1rem auto 0 auto;
	}
}
.graphicdesign-img {
	width: 100%;
	opacity: 0.5;
	transition: all 0.5s;
}
.graphicdesign-img:hover{
	opacity: 1;
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
	.graphicdesign-img {
		opacity: 1; 
	}
}
@media (max-width: 768px) {
	.graphicdesign-img {
		opacity: 1; 
	} 
}
.graphicdesign-header {
	font-size: 140%;
	margin-bottom: 0px;
	font-weight: 500;
	color: #c4ae78;
	text-shadow: 0px 0px 4px #000000; 
}
.graphicdesign-header-sub {
	font-size: 115%;
	margin-top: 2px;
	font-weight: 450;
	color: #c4ae78;
	text-shadow: 0px 0px 4px #000000; 
	text-decoration: none;
	font-style: italic;
}

.project-header {
	font-size: 140%;
	margin-bottom: 0px;
	font-weight: 500;
	color: #38b6d6;
	text-shadow: 0px 0px 4px #000000; 
}
.project-header-sub {
	font-size: 115%;
	margin-top: 2px;
	font-weight: 450;
	color: #38b6d6;
	text-shadow: 0px 0px 4px #000000; 
	text-decoration: none;
	font-style: italic;
}


.menu {
	display: none;
}

/* Styles for fancy boxes */
.box {
	margin-top: 1rem;
	margin-bottom: 2rem;
	cursor: pointer; 
}
@media (max-width: 768px) {
	.box {
		margin-top: 3rem; 
	} 
}

.features {
	padding-top: 20px; 
}

.features-img {
	width: 100%;
	border: 1px solid;
	opacity: 0.5;
	transition: all 0.5s;
	box-shadow: 0px 0px 25px 0px #000000; 
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
	.features-img {
		opacity: 1; 
	}
}
@media (max-width: 768px) {
	.features-img {
		opacity: 1; 
	} 
}

.resume-img {
	width: 100%;
	opacity: 0.5;
	transition: all 0.5s;
}
.resume-img:hover{
	opacity: 1;
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
	.resume-img {
		opacity: 1; 
	}
}
@media (max-width: 768px) {
	.resume-img {
		opacity: 1; 
	} 
}

.features-item .item-name-caption {
	background-color: #000000;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	top: 0;
	border-radius: 0px;
	left: 0;
	display: none; 
}
.features-item:hover .features-img {
	opacity: 1;
	border: 1px solid #9d9280;
	box-shadow: 0px 0px 25px 0px #37271b; 
}
.features-item:hover h3 {
	text-shadow: 0px 0px 4px #383838; 
}
.features-item:hover .features-p {
	color: #9d9280; 
}

.features-item-hierarchy .item-name-caption {
	background-color: #000000;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	top: 0;
	border-radius: 0px;
	left: 0;
	display: none; 
}
.features-item-hierarchy:hover .features-img {
	opacity: 1;
	border: 1px solid #9d9280;
	box-shadow: 0px 0px 25px 0px #37271b; 
}
.features-item-hierarchy:hover h3 {
	text-shadow: 0px 0px 4px #383838; 
}
.features-item-hierarchy:hover .features-p {
	color: #9d9280; 
}

.features-item-perks .item-name-caption {
	background-color: #000000;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 0px;
	display: none; 
}
.features-item-perks:hover .features-img {
	opacity: 1;
	border: 1px solid #9d9280;
	box-shadow: 0px 0px 25px 0px #37271b; 
}
.features-item-perks:hover h3 {
	text-shadow: 0px 0px 4px #383838; 
}
.features-item-perks:hover .features-p {
	color: #9d9280; 
}

.features-p {
	font-family: Helvetica, Arial, sans-serif;
	color: #71675b;
	font-size: 0.85em;
	text-align: left;
	transition: all 0.5s;
	font-weight: 400;
	line-height: 1.4rem; 
	text-align: center;
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
	.features-p {
		font-size: 0.8em; 
	} 
}
@media (max-width: 320px) {
	.features-p {
		font-size: 0.9rem; 
	} 
}



/*   DND Styles */

/* Code for formatting the headers */
.header-DnD-TS {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.05)), url(../DnD/header-bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow: inset 0 -10px 70px rgba(0, 0, 0, 0.75);
	height: 70vh;
	background-position: 75%;
}
@media (min-width: 1200px) {
	.header-DnD-TS {
		background-attachment: fixed;
	}
}
@media (max-width: 768px) {
	.header-DnD-TS {
		background-position: 25%;
	}
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
	.header-DnD-TS {
		background-position: 25%;
	}
}